@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/InterVariable.woff2), format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/InterVariable-Italic.woff2), format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Urbanist';
  src: url(./assets/fonts/Urbanist-VariableFont_wght.woff2), format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Urbanist';
  src: url(./assets/fonts/Urbanist-Italic-VariableFont_wght.woff2), format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', serif;
  font-weight: 550;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  color: white;
}

input,
button {
  appearance: none;
  border: none;
  background-color: none;
  outline: none;
}

body {
  display: flex;
  background-color: black;
}

.sidebar {
  background-color: rgb(60, 60, 60);
  box-shadow: 16px 0 32px blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo-text {
  padding: 1rem 2rem;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.categories {
  display: flex;
  flex-direction: column;
}

.categories > button {
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: rgb(60, 60, 60);
}

.categories > button:hover {
  background-color: rgb(0 0 255 / 25%);
}

.categories > button.selected {
  background-color: rgb(0 0 255 / 75%);
}